@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right ,#61BAA5, #035E57);
}
main{
    background-color: #F4FAD9;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #53213ac7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6B2B4A;
    text-align: center;
    text-shadow: 1px 1px 2px #612441b7;

}

h2{
    color: #F06B3E;

}

p{
    text-align: justify;
}